.text-right{text-align: right!important;}
.text-left{text-align: left!important;}
.text-center{text-align: center!important;}

body{
background:#E0F2F1; //#E0F2F1
}
.login{
background:#EDC63D; 
}

